body{
    background-color: antiquewhite;
    
}
#heading{
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
}

a:hover, a:active{
    color:brown;
    text-decoration: none;
}
.reference{
    list-style: none;
    display: flex;
    gap: 10px;
    /* padding: 10px; */
    justify-content: right;
    font-size: 16px;
}
.reference li a {
    text-decoration: none;
    font-weight: 500;
    
}
.reference li a:hover,
li a:focus{
    text-decoration: underline;
}